@import url("https://rsms.me/inter/inter.css");

body {
  margin: 0;
  font-family: "Gotham";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@font-face {
  font-family: Gotham;
  font-weight: 500;
  src: url(./assets/font/GothamPro-Medium.woff) format("woff");
}

@font-face {
  font-family: Gotham;
  font-weight: 300;
  src: url(./assets/font/GothamPro-Light.woff) format("woff");
}

@font-face {
  font-family: Gotham;
  font-weight: 400;
  src: url(./assets/font/GothamBook.ttf) format("ttf");
}

@font-face {
  font-family: Gotham;
  font-weight: 900;
  src: url(./assets/font/GothamPro-Black.woff) format("woff");
}

@font-face {
  font-family: Gotham;
  font-weight: 700;
  src: url(./assets/font/GothamPro-Bold.woff) format("woff");
}
@tailwind components;
@tailwind utilities;
